# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints

# Virtual environments
venv/
env/

# Streamlit cache
.streamlit/*
!.streamlit/config.toml

# Mac
.DS_Store

# Windows
Thumbs.db

# data pesada (si aplica)
# *.parquet
# *.csv
# *.xlsx
# data/

# logs
*.log